:root {
  --main-bg-color: #f0f0f0;
  --main-bg-light: #fff;
  --main-text-color: #333;
  --main-text-light: #ccc;
  --primary-color: #0078ff;
  --secondary-color: #003670;
  --light-color: #fff;
  --header-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

header {
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2); 
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

nav ul li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
  color: var(--light-color);
  padding: 10px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

nav ul a:hover {
  background: var(--secondary-color);
}

nav ul .hide {
  display: none;
}

main {
  max-width: 1024px;
  margin: auto;
  padding: 20px;
}

main .hero {
  text-align: center;
  margin: 20px 0;
  padding: 40px 20px;
  border-radius: 8px;
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--light-color);
}
.hero h1 {
  margin-bottom: 20px;
}

.hero .cta {
  display: block;
  max-width: 400px;
  text-decoration: none;
  color: var(--light-color);
  background: var(--secondary-color);
  border-radius: 8px;
  margin: 20px auto 0px;
  padding: 15px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

main .about {
  text-align: center;
  padding: 0 20px;

}

.about img {
  width: 300px;
}

.about p {
  margin: 10px;
  text-align: left;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.service-item {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background: var(--light-color);
  box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.service-item .service-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.service-item ul {
  list-style: none;
  text-align: left;
  padding: 20px;
}

.service-item li {
  padding: 5px;
}

/* Ãrea dos Media e dos Keyframes */

@media (width > 600px) {
  /* Alterar o tamanho para 700px no final. */
  nav ul .hide {
    display: block;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
